body {
  padding: 40px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 1.0em;
  font-weight: 100;
}

div#container {
  width: 500px;
  margin:auto;
}

div#form {
  display: inline;
  width: auto;
  margin: auto;
}

div#haiku {
  display: none;
  margin: auto;
}

button#submitBtn {
  font-size: 1.0em;
  width: 264px;
}
